<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理首页</title>
<link href="/static/css/default/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/layout.js"></script>
</head>
<body>
<!--导航栏-->
<div class="location">
  <a class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <span>管理中心</span>
</div>
<!--/导航栏-->

<!--内容-->
<div class="mainbody">
  <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href=""> <i class="icon-user"></i>会员列表</a> </li>
        <li class="bg_lg span3"> <a href=""> <i class="icon-picture"></i> 广告管理</a> </li>
        <li class="bg_ly"> <a href=""> <i class="icon-bell"></i><span class="label">101</span>消息动态 </a> </li>
        <li class="bg_lo"> <a href=""> <i class="icon-th"></i> 栏目管理</a> </li>
        <li class="bg_ls"> <a href=""> <i class="icon-cog"></i>系统设置</a> </li>
      </ul>
  </div>
<div class="nlist-1">
  <ul>
    <li>本次登录IP：123.160.146.1</li>
    <li>上次登录IP：117.91.42.233</li>
    <li>上次登录时间：2014-1-11 21:40:34</li>
  </ul>
</div>
<div class="line10"></div>

<div class="nlist-2">
  <h3><i></i>站点信息</h3>
  <ul>
    <li>站点名称：DTcms内容管理系统</li>
    <li>公司名称：动力启航软件工作室</li>
    <li>网站域名：http://demo3.dtcms.net</li>
    <li>安装目录：/</li>
    <li>网站管理目录：admin</li>
    <li>附件上传目录：upload</li>
    <li>服务器名称：AY130518163619Z</li>
    <li>服务器IP：121.199.8.204</li>
    <li>NET框架版本：4.0.30319.1</li>
    <li>操作系统：Microsoft Windows NT 5.2.3790 Service Pack 2</li>
    <li>IIS环境：Microsoft-IIS/6.0</li>
    <li>服务器端口：80</li>
    <li>目录物理路径：D:\web\wwwroot\dtcmsdemo3\</li>
    <li>系统版本：V3.0.3</li>
  </ul>
</div>
<div class="line20"></div>
</div>
<!--/内容-->
</body>
</html>
